:root {
    --maincolor: #d3ad7f;
    --black: #131313a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3) font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: black;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
} 

.navbar a:hover {
    color: var(--maincolor)
    boder-bottom 0.1rem solid var(--border);
    padding-bottom: 0.5rem;
    font-size: 1.3rem
}

.icons img{
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 70px;
    height: 70px;
}

.btn {
    background: var(--maincolor);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

.home-countainer {
    background: url("./img/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.home-countainer section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.content {
    margin-right: auto;
    max-width: 750px;
    padding-left: 1rem;
}

.content h3 {
    color: #fff;
    font-size: 4rem;
}

.content p {
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1;
    padding: 1rem 0;
}

.title {
    font-size: 2rem;
    color: var(--maincolor);  
    text-align: center; 
    text-transform: uppercase;
}

.title span {
    color: #fff;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: rgb(111, 96, 68);
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 1.4rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}